/*
colors:
palette sourced from www.coolors.co
this is a blue, maroon, and orange color theme

#5C89C0 pale blue
#557AAA sky blue
#364863 blue gray
#232735 dark blue gray
#0F0606 dark maroon
#270D06 maroon
#6E2206 dark burnt orange
#9E3006 burnt orange
#CD3D06 orange
#D24F1D pale orange

fonts:
fonts sourced from fonts.google.com
headers: Oxanium
paragraphs: Exo 2
buttons: Orbitron

stylesheet:
all sections of the stylesheets are labelled with "||section name"
the new sections are preceeded with three blank lines
every rule will be laid out similar to the below example:

selector {
  margins
  padding

  font styling (size, boldness, text-decoration, list-style)
  
  element sizing (height, width)

  display (flex, grid etc)
  display rules
  position
  overflow

  color
  background-color

  border
  border-radius

transition
animation

any other rules
}
*/



/* ||universal styles and resets */

* {
  margin: 0;

  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxanium', cursive;

  color: #5C89C0;
}

p, a, figcaption, span, li{
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;

  color: #5C89C0;

}

a {
  text-decoration: none;
}

button {
  font-family: 'Orbitron', sans-serif;

  color: #5C89C0
}



/* ||header */

header {
  margin: 0 auto;
  padding: 1.5rem;

  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #0F0606;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

header h1 {
  color: #D24F1D;
}

header a {
  padding: 0.5rem;

  color:#D24F1D;
  background-color: #0F0606;

  border-bottom: 3px solid #D24F1D;
  border-right: 3px solid #0F0606;

  transition: background-color 0.2s, color 0.2s, border-bottom 0.2s, border-right 0.2s;
}

/*
add hover and active effects to the link to 
clearly indicate interactivity
*/
header a:hover {
  color:#0F0606;
  background-color: #D24F1D;

  border-bottom: 3px solid #364863;
  border-right: 3px solid #364863;
}

header a:active {
  color:#D24F1D;
  background-color: #364863;

  border-bottom: 3px solid #D24F1D;
  border-right: 3px solid #D24F1D;
}



/* ||main body styling */

body {
  background-color: #270D06;
}

main {
  margin: 0 auto;
  width: 80%;
}



/* ||work section */

section#work {
  margin: 5rem auto 0 auto;
  padding: 1rem;

  background-color: #232735;

  border-radius: 1rem;
}

section#work h2 {
  margin: 1rem 0;
}

section#work h4 {
  margin: 1rem 0;
}

section#work a {
  padding: 0.5rem;

  background-color: #232735;

  border-bottom: 3px solid #D24F1D;
  border-right: 3px solid #232735;

  transition: background-color 0.2s, color 0.2s, border-bottom 0.2s, border-right 0.2s;
}

  
section#work a:hover {
  color: #232735;
  background-color: #D24F1D;

  border-bottom: 3px solid #0F0606;
  border-right: 3px solid #0F0606;
}

section#work a:active {
  color: #D24F1D;
  background-color: #232735;

  border-bottom: 3px solid #0F0606;
  border-right: 3px solid #0F0606;
}



/* ||skills and attributes section */

section#skills {
  margin: 5rem auto 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #232735;

  border-radius: 1rem;
}


#skills-div, #attributes-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*
these are the buttons that the user can 
click on to open more details about each 
skill or attribute. they have hover and 
active styles to ensure the user knows 
they are interactive elements
*/
button.collapsible {
  padding: 0.5rem;

  width: 100%;

  background-color: #232735;

  border-top: none;
  border-left: none;
  border-bottom: 2px solid #D24F1D;
  border-right: 2px solid #232735;

  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-bottom 0.2s, border-right 0.2s;
}

.active, .collapsible:hover {
  color: #D24F1D;
  background-color: #0F0606;

  border-right: 2px solid #D24F1D;
}

/* 
the content of the collapsible elements 
that is hidden by default with the 
max-height: 0 rule so that before the button 
is clicked, the content within the card is hidden
the javascript executes on button press to adjust 
max-height to fit the content
*/

.content {
  padding: 0;

  font-size: 0.8rem;

  max-height: 0;

  overflow: hidden;

  color: #D24F1D;
  background-color: #0F0606;

  border-right: 2px solid #D24F1D;

  transition: max-height 0.3s ease-out;
}

/*
this is the styling for the container 
that holds the cards and their titles
*/

.collapsible-card {
  margin: 1rem;
  padding: 0.5rem;

  max-width: 15rem;

}



/* ||contact section */

section#contact {
  margin: 5rem auto 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: #0F0606;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
  
#contact a {
  padding: 0.5rem;

  border-radius: 1rem;

  transition: background-color 0.2s ease;
}
  
a img {
  transition: all 1s;
}

/* ||footer section */

footer {
  margin: 0 auto;
  padding: 1.5rem;

  width: 100%;
  height: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #0F0606;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

footer p {
  color: #D24F1D;
}