/* ||colors, fonts, other style notes

colors:
palette sourced from www.coolors.co
this is a blue, maroon, and orange color theme

#5C89C0 pale blue
#557AAA sky blue
#364863 blue gray
#232735 dark blue gray
#0F0606 dark maroon
#270D06 maroon
#6E2206 dark burnt orange
#9E3006 burnt orange
#CD3D06 orange
#D24F1D pale orange

fonts:
fonts sourced from fonts.google.com
headers: Oxanium
paragraphs: Exo 2
buttons: Orbitron

stylesheet:
all sections of the stylesheets are labelled with "||section name"
the new sections are preceeded with three blank lines
every rule will be laid out similar to the below example:

selector {
  margins
  padding

  font styling (size, boldness, text-decoration, list-style)
  
  element sizing (height, width)

  display (flex, grid etc)
  display rules
  position
  overflow

  color
  background-color

  border
  border-radius

transition
animation

any other rules
}
*/



/* ||universal styles and resets */

* {
  margin: 0;

  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxanium', cursive;

  color: #D24F1D;
}

p, a, figcaption, span, li {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;

  color: #D24F1D;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Orbitron', sans-serif;

  color: #D24F1D;
}



/* ||header */

header {
    margin: 0 auto;
    padding: 1.5rem;

    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #0F0606;
}

/* ||body and main styling */

body {
  background-color: #0F0606;
}

main { 
  margin: 0 auto;

  width: 80%;
}

/* ||main content slideshow styling */

section#slideshow-container {
  margin: auto;
  padding: 2.5rem;

  max-width: 100%;
  height: 50rem;

  position: relative;
  overflow-x: hidden;

  border: 2px solid #270D06;
  border-radius: 20px;
}

/* 
slides are hidden by default until
the javascript onclick animates the slide and 
brings it into the slideshow-container
 */

.slides {
  height: 100%;
  width: 100%;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div.slides article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

article h2, article a, article p {
  margin: 0.5rem;
}



/* ||slide anamations */

.slide-out-left {
  animation: slide-out-left 0.8s forwards;
}

.slide-out-right {
  animation: slide-out-right 0.8s forwards;
}

.slide-in-left {
  display: flex;

  animation: slide-in-left 0.8s forwards;
}

.slide-in-right {
  display: flex;

  animation: slide-in-right 0.8s forwards;
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}



/* ||slide content styling */

/* 
style the links within the slides including
hover and active effects to clearly indicate interactivity
*/

article a {
  padding: 0.5rem;

  background-color: #0F0606;

  border-bottom: 2px solid #D24F1D;

  transition: background-color 0.2s, color 0.2s, border-bottom 0.2s, border-right 0.2s;
}

article a:hover {
  color: #0F0606;
  background-color: #D24F1D;

  border-bottom: 2px solid #6E2206;
  border-right: 2px solid #6E2206;
}

article a:active {
  color: #D24F1D;
  background-color: #0F0606;

  border-bottom: 2px solid #232735;
  border-right: 2px solid #232735;
}

/* 
adjust the sizing of the images and screenshots 
within the slides so that they are attractive, but 
not overly large
*/
img#jesse-photo {
  margin: 1.5rem;
  padding: 0.5rem;

  height: 30rem;

  background-color: #6E2206;

  border: 2px solid #270D06;
  border-radius: 20px;
}

img#portfolio-ss {
  margin: 1.5rem;
  padding: 0.5rem;

  height: 32rem;

  background-color: #6E2206;

  border: 2px solid #270D06;
  border-radius: 20px;
}

img#game-ss {
  margin: 1.5rem;
  padding: 0.5rem;

  height: 32rem;

  background-color: #6E2206;


  border: 2px solid #270D06;
  border-radius: 20px;
}

img#tom-krav-ss {
  margin: 1.5rem;
  padding: 0.5rem;

  height: 32rem;

  background-color: #6E2206;

  border: 2px solid #270D06;
  border-radius: 20px;
}



/* ||slide change buttons */
.prev, .next {
  margin-top: -22px;
  padding: 1.5rem;

  width: auto;

  font-weight: bold;
  font-size: 2rem;

  position: absolute;
  top: 50%;

  color: #D24F1D;

  transition: 0.6s ease;

  user-select: none;
  cursor: pointer;
  }

  .prev {
    left: 0;

    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;

    border-radius: 3px 0 0 3px;
  }
  
  /*
  on hover, add a different background color
  to clearly indicate interactivity
  */
  .prev:hover, .next:hover {
    color:#0F0606;
    background-color: #232735;
  }
  


  /* ||slide captions and numbering */
  .slide-captions {
    width: 100%;

    position: absolute;
    bottom: 0.5rem;
    text-align: center;

    color: #D24F1D;
  }
  
  .slide-numbers {
    width: 100%;

    position: absolute;
    top: 0.5rem;
    text-align: center;

    color: #D24F1D;
  }
  


  /* ||slide change buttons animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* ||contact cards section styling */

section#contact {
  margin: 5rem auto 5rem auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#contact a {
  padding: 0.5rem;

  border-radius: 1rem;

  transition: background-color 0.5s ease;
}

a img {
  transition: all 1.5s;
}

/* ||foooter styling */

footer {
  margin: 0 auto;
  padding: 1.5rem;

  width: 100%;
  height: 15rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: #6E2206;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

footer p {
  color: #0F0606;
}